*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: lightgrey;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-container {
  display: flex;
  margin-bottom: 25px;
}

#body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  border: 8px solid rgb(5, 5, 50);
  border-radius: 5px;
}

#controls-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

#grid-container {
  display: flex;
}
